@charset "UTF-8";
/* Reseteo el estilo predeterminado */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a ul li {
  text-decoration: none;
}

main {
  width: 90%;
  margin: 0 auto;
}

/* Titulo Home General*/
.titulo_general_mobile {
  color: #2C3383;
  font-size: 30px;
  font-weight: 500;
  text-shadow: 1px 1px #A0A2A3;
  text-align: center;
  margin-top: 5%;
}

.titulo_general {
  color: #2C3383;
  font-size: 50px;
  font-weight: 500;
  text-shadow: 1px 1px #A0A2A3;
}

.intro-main__contenido__titulo__general {
  background-color: #2C3383;
  text-transform: uppercase;
  text-align: center;
  color: white;
  margin-bottom: 15px;
  padding: 18px;
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
}

.titulos {
  text-align: center;
}

.intro-main__contenido__texto--titulo, .row__comunidad__titulo {
  line-height: 1.6;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  color: #2C3383;
  text-transform: uppercase;
  margin-top: 3%;
  padding-top: 2%;
  font-weight: 700;
  text-align: center;
}

.intro-main__contenido__texto, .row__textoCostado {
  line-height: 1.6;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  color: black;
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: justify;
}

/*CONTENEDOR GENERAL*/
#contenedor_general {
  background-image: linear-gradient(#272c65, #5d63ac);
}

/*NOVEDADES*/
#contenedor_novedades {
  /*background-color:map-get($color, color_novedades);*/
  border-radius: 1%;
}

.titulo_novedades {
  text-align: center;
  font-size: 20px;
  color: #D7DBDD;
  font-family: "Montserrat", sans-serif;
}

#contenedor_novedades_imagenes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 98%;
  margin: 0 auto;
}

.card {
  width: 100%;
  margin: 3% 15%;
  text-align: center;
}

/*PUBLICACIONES*/
#publicaciones {
  justify-content: space-between;
  /*background-color:map-get($color, color_publicaciones); */
}

.publicaciones_lista {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10% 3%;
}

ul {
  list-style: none;
  text-decoration: none;
}

.publicaciones_links {
  color: black;
  text-decoration: none;
  margin-top: 7%;
}

.publicaciones_links:hover {
  text-decoration: underline;
}

/* Futuros Proyectos */
.intro-main__contenido2 {
  opacity: 0.95;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  color: #2C3383;
  font-size: 23px;
  font-weight: 700;
}

.intro-main__contenido2--texto {
  background-image: linear-gradient(rgb(220, 27, 27), rgb(245, 90, 90));
  line-height: 1.6;
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  color: #F2F3F4;
  font-weight: 400;
  margin: 2%;
  padding: 2%;
  text-align: center;
  animation-name: efecto_brillo;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 5s;
}

/* Pregrado*/
.img_foto_tres {
  display: none;
}

.img_foto_uno {
  height: 100%;
  width: 100%;
  margin: 1% 0.5%;
}

.img_foto_dos {
  height: 100%;
  width: 100%;
  margin: 1% 0.5%;
}

@media (min-width: 576px) {
  .row__imagenes__tres {
    display: flex;
    flex-direction: row;
  }

  .img_foto_tres {
    height: 100%;
    width: 100%;
    margin: 1% 0;
    display: block;
  }
}
/* Capacitacion */
.img_foto_cuatro {
  display: inline-block;
  width: 33%;
  height: 300px;
  display: inline-block;
  text-align: center;
  background: url(imagenes/equipo_hospital_4.jpg);
  transition: all 1s ease;
}

/*
.img_foto_seis {
    display: inline-block;
    width: 33%;
    height: 300px;

    display: inline-block;
    text-align: center;
    background: url(imagenes/equipo_hospital_5.jpg);
    transition: all 1s ease;
}



.img_foto_cuatro:hover {

    background: url(imagenes/logo_dbv.png);
    background-repeat: no-repeat;
    background-position: center;

}

.img_foto_cinco:hover {

    background: url(imagenes/logo_municipio_de_tandil.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

.img_foto_seis:hover {

    background: url(imagenes/logo_sisp.png);
    background-repeat: no-repeat;
    background-position: center;
}  

*/
/*Biblioteca*/
.convenios__texto {
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
  margin: 2% 0;
  padding: 0;
  transform: translate(0px, -50px);
  color: black;
  font-weight: 700;
}

.convenios_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  overflow: hidden;
  height: 80%;
  width: 100%;
}

.convenios {
  padding: 2% 3%;
  text-align: center;
  margin: 0;
}

.convenios:hover {
  opacity: 0.7;
  background-image: url("imagenes\equipo_6.jpeg");
}

.img__convenio {
  height: 80%;
  width: 100%;
  opacity: 0.8;
  margin: 0;
  padding: 0;
}

/* Comunidad */
.comunidad {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.comunidad_historias {
  color: white;
  text-decoration: none;
}

.comunidad_historias:hover {
  color: white;
  text-decoration: none;
  font-weight: 700;
}

.intro-main__contenido2--comunidad {
  background-image: linear-gradient(rgb(220, 27, 27), rgb(245, 90, 90));
  line-height: 1.6;
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  color: #F2F3F4;
  font-weight: 400;
  margin: 2%;
  padding: 2%;
  text-align: center;
  animation-name: efecto_brillo;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 5s;
  width: 100%;
}

/* VIDEO */
.video_youtube {
  height: 200px;
  width: 100%;
}

/*Media Queries para Desktop*/
@media (min-width: 576px) {
  main {
    width: 80%;
    margin: 0 auto;
  }

  .video_youtube {
    height: 600px;
    width: 100%;
  }

  .convenios__texto {
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    margin: 2% 0;
  }

  .img_foto {
    width: 50%;
    height: 100%;
    float: left;
    margin-right: 20px;
    animation-name: opacity_imagen;
    animation-duration: 3s;
    animation-timing-function: ease-in;
  }

  .img_foto--right {
    float: right;
    margin-left: 20px;
    width: 50%;
    height: 100%;
    animation-name: opacity_imagen;
    animation-duration: 3s;
    animation-timing-function: ease-in;
  }

  .row--comunidad {
    margin: 30px auto;
    height: 400px;
  }

  .row__textoCostado {
    font-size: 15px;
    font-weight: 400;
    text-align: justify;
    margin-left: 0 auto;
    line-height: 1.5rem;
  }

  .intro-main__contenido2--comunidad {
    width: 45%;
  }

  #contenedor_novedades_imagenes {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 95%;
    margin: 0 auto;
  }

  .card {
    width: 20%;
    margin: 0 0.5%;
  }

  .publicaciones_lista {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 8%;
    font-size: 15px;
  }

  .publicaciones_links {
    margin: 10px 40px;
  }

  .intro-main__contenido__texto--titulo, .row__comunidad__titulo {
    line-height: 1.6;
    font-family: "Montserrat", sans-serif;
    font-size: 22px;
    color: #2C3383;
    text-transform: uppercase;
    margin-top: 0.5%;
    font-weight: 700;
  }

  .titulo_general_mobile {
    display: none;
  }

  .titulo_general_mobile_dos {
    display: none;
  }

  .convenios_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow: hidden;
    height: 80%;
    width: 100%;
  }
}
/*Quienes Somos*/
/*listas*/
li {
  list-style: none;
  text-decoration: none;
}

.intro__main__lista__gral {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  list-style-type: none;
  padding-bottom: 50px;
}

.intro__main__lista {
  display: inline-block;
  padding: 5px 10%;
}

.intro__main__lista__titulo {
  font-size: 17px;
  text-transform: uppercase;
  color: #df0024;
  text-decoration: underline;
}

.intro__main__lista--items {
  list-style-type: none;
  line-height: 1.7;
  margin-top: 5px;
  justify-items: center;
  text-align: center;
  padding: 0;
}

.intro__main__lista2 {
  display: inline-block;
  padding: 5px;
  text-align: center;
}

img {
  max-width: 100%;
}

header {
  padding: 0.1px 0;
  position: sticky;
  top: 0;
  z-index: 1;
  text-align: center;
}

#intro-main {
  background-color: #f5f7fa;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.container {
  width: 95%;
  margin: 0 auto;
  max-width: 1320px;
  overflow: hidden;
  margin-top: 10px;
}

.intro-main__contenido__general {
  position: relative;
}

.background_image {
  height: 400px;
  object-fit: cover;
  object-position: 10% 10%;
  width: 100%;
  opacity: 0.75;
}

.intro-main__contenido__titulo {
  position: absolute;
  bottom: -100px;
  left: 580px;
  color: #111273;
  font-size: 45px;
  font-weight: 700;
  text-transform: uppercase;
  opacity: 0.9;
  padding: 8rem 0;
  text-align: left;
  font-family: "Lato", sans-serif;
  text-shadow: 1px 1px 2px rgb(143, 139, 139);
  animation: animar_texto 2s ease;
}

/*Transicion*/
.TextoBtn {
  position: absolute;
  top: 0px;
  left: 0px;
  color: white;
  font-size: 17px;
  text-transform: uppercase;
  padding: 40%;
  opacity: 0;
}

.TextoBtn:hover {
  position: absolute;
  top: 130px;
  left: 35%;
  color: white;
  font-size: 16px;
  text-transform: uppercase;
  background-color: black;
  padding: 3%;
  opacity: 1;
  text-decoration: none;
  transition: all;
}

.nav__link:hover {
  background-size: 100% 1.5px;
}

/*ANIMACIONES*/
@keyframes animar_texto {
  0% {
    color: #df0024;
    transform: translateX(150px);
  }
  100% {
    color: #2C3383;
    transform: translateX(0px);
  }
  100% {
    color: #2C3383;
  }
}
@keyframes animar_texto_equipo {
  0% {
    color: #df0024;
  }
  50% {
    color: azure;
  }
  100% {
    color: #2C3383;
  }
}
@keyframes opacity_imagen {
  0% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}
@keyframes efecto_brillo {
  0% {
    background-image: linear-gradient(rgb(245, 90, 90), rgb(220, 27, 27));
  }
  100% {
    background-image: linear-gradient(rgb(220, 27, 27), rgb(245, 90, 90));
  }
}
.imagen3 {
  height: 282px;
}

.img_logo {
  display: inline-block;
  margin-top: 1px;
  margin-bottom: 1px;
  max-height: 100px;
}

.row {
  margin: 0 auto;
}

header {
  position: sticky;
  top: 0;
  z-index: 1;
  text-align: center;
  background-color: #dc3545;
  font-family: "Montserrat", sans-serif;
  padding-right: 7%;
}
header .navbar {
  display: flex;
  flex-direction: row;
  align-content: center;
}
header .nav__logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0 40px;
}
header .nav__logo .nav_img_logo {
  max-width: 70%;
  margin: 0;
}
header .nav__logo .nav_decr_logo {
  font-size: 9px;
  font-family: "Montserrat", sans-serif;
  color: antiquewhite;
  margin: 0;
}
header .nav__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  font-size: 14px;
  font-weight: 500;
  padding: 0 4%;
  margin: 0;
}
header .nav__item {
  padding: 0 15px;
}
header .nav__link {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  background-image: linear-gradient(white, white);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: all 0.3s;
}

/*Animación de la navbar*/
.nav__link:hover {
  background-size: 100% 1.5px;
  color: white;
}

/*Media Queries*/
@media (min-width: 576px) {
  .navbar-mobile {
    display: none;
  }
}
@media (max-width: 576px) {
  .navbar-desktop {
    display: none;
  }
}
.footer {
  line-height: 1.6;
  font-size: 13px;
  font-weight: 400;
  background-color: #2C3383;
  font-family: "Montserrat", sans-serif;
  color: white;
  margin: 0px auto;
  text-align: center;
}
.footer .column {
  margin: 0px 20px 0px 20px;
  padding: 20px 5px;
  text-align: center;
}
.footer .column .footer__titulo {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

.footer__logos {
  display: block;
  padding: 5px;
}

.fa-facebook-official {
  color: white;
}

.fa-instagram {
  color: white;
}

/*Media Queries*/
@media (min-width: 576px) {
  .column {
    display: inline-block;
    vertical-align: top;
  }

  .footer__logos {
    display: inline-block;
  }
}

/*# sourceMappingURL=style.css.map */
