@import "variables";

header {
    
    position: sticky;
    top:0;
    z-index: 1;
    text-align: center;
    background-color: map-get($color, color_header);
    font-family: $tipografia_texto;

        

        .navbar {
            display:flex;
            flex-direction: row;
            align-content: center;
        }

        .nav__logo {
            display:flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            margin: 0 40px;

                
            
            .nav_img_logo {
                max-width: 70%;
                margin:0;
            }

            .nav_decr_logo {
                font-size: 9px;
                font-family: $tipografia_texto;
                color:antiquewhite;
                margin:0;
            }

    }

            
        .nav__list {
            display: flex;
            flex-direction: row;
            align-items: center;
            list-style: none;
            font-size: 14px;
            font-weight: 500;
            padding:0 4%;
            margin:0;
        }
                         

        .nav__item {
            padding: 0 15px;
        }

      

        .nav__link {
            text-decoration:none;
            text-transform: uppercase;
            color:white;
            background-image: linear-gradient(white, white);
            background-position: 0% 100%;
            background-repeat: no-repeat;
            background-size: 0% 2px;
            transition: all .3s;
         
        }
    }
                            
                    
             


/*Animación de la navbar*/

.nav__link:hover {
    background-size: 100% 1.5px;
    color:white;
  }

 /*Media Queries*/ 

  @media (min-width: 576px){
    .navbar-mobile {
        display:none;
    }
    
}

@media (max-width: 576px){
    .navbar-desktop {
        display: none;
    }
}