@import "variables";

@mixin size_img ($alto, $ancho){
    height:$alto;
    width:$ancho;
} 

$color: (color_header: #dc3545, 
         color_footer: #2C3383,
         color_novedades:#272c65,
         color_proyectos:#dc3545,
         color_cards:#D7DBDD,
         color_titulo: #2C3383,
         color_publicaciones:#5d63ac);


main {
    width:80%;
    margin:0 auto;
}


/* Titulo Home General*/
.titulo_general_mobile {
    color:$color_titulo_general;
    font-size: $tamaño_titulo_general_mobile;    
    font-weight: 500;
    text-shadow: 1px 1px #A0A2A3;
    text-align: center;
    margin-top: 5%;
    
}

.titulo_general {
    color:$color_titulo_general;
    font-size: $tamaño_titulo_general;    
    font-weight: 500;
    text-shadow: 1px 1px #A0A2A3;
    
}


.intro-main__contenido__titulo__general {
    background-color:map-get($color, color_titulo);
    text-transform: uppercase;
    text-align: center;
    color:$color_titulo;
    margin-bottom: 15px;
    padding: 18px;
    font-family: $tipografia_titulo;
    font-size: $tamaño_titulo;
    }

   

.titulos {
    text-align: center;

}


    

.intro-main__contenido__texto--titulo {
    line-height: 1.6;
    font-family: $tipografia_subtitulos;
    font-size: $tamaño_subtitulos_mobile;
    color: $color_subtitulos;
    text-transform: uppercase;
    margin-top: 50px;
    padding-top: 15px;
    font-weight: 700;
    text-align: center;
}


.intro-main__contenido__texto {
    line-height: 1.6;
    font-family: $tipografia_texto;
    font-size: $tamaño_texto;
    color:$color_texto;
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: justify;
    
} 

/*CONTENEDOR GENERAL*/

#contenedor_general {
    background-image: linear-gradient(map-get($color,color_novedades),map-get($color,color_publicaciones));
}

/*NOVEDADES*/

#contenedor_novedades {
    /*background-color:map-get($color, color_novedades);*/
    border-radius: 1%;
}

    .titulo_novedades {
        text-align: center;
        font-size: 20px;
        color:#D7DBDD;
        font-family:$tipografia_texto;
    }

    #contenedor_novedades_imagenes{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap; 
        width: 90%;
        margin:0 auto;        
    }

    .card {
        width:100%;
        margin:1%;
        text-align: center;
    }



/*PUBLICACIONES*/

#publicaciones {
    justify-content: space-between;
    /*background-color:map-get($color, color_publicaciones); */  
  
}

.publicaciones_lista {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 2% 3%;
    
}

ul {
    list-style: none;
    text-decoration: none;
    
    
}

.publicaciones_links {
    color: black;
    text-decoration: none;
    
   
}

.publicaciones_links:hover {
    text-decoration: underline;   
}


/* Futuros Proyectos */

.intro-main__contenido2 {
    
    opacity: 0.95;
    font-family: $tipografia_texto;
    text-align: center;
    color:$color_subtitulos;
    font-size: $tamaño_texto_proyectos;
    font-weight: 700;
}


    .intro-main__contenido2--texto{
        background-image: linear-gradient($color_1_proyectos,$color_2_proyectos);
        line-height: 1.6;
        font-size: $tamaño_texto;
        font-family: $tipografia_texto;
        color:$color_texto_proyectos;
        font-weight: 400;
        margin: 2%;
        padding:2%;
        text-align: center;

    }


/* Pregrado*/

.img_foto_tres {
    display: none;
    
}

.img_foto_uno {
    @include size_img(100%,100%);
    margin:1% 0.5%;
    

}

.img_foto_dos {
    @include size_img(100%,100%);
    margin:1% 0.5%;
}


@media (min-width: 576px){
    
    .row__imagenes__tres {
        display: flex;
        flex-direction: row;
    }

    .img_foto_tres  {
        @include size_img(100%,100%);
        margin:1% 0;
        display: block;
        
    }
}

/* Capacitacion */
.img_foto_cuatro {
    display: inline-block;
    width: 33%;
    height: 300px;
   
    display: inline-block;
    text-align: center;
    background: url(imagenes/equipo_hospital_4.jpg);
    transition: all 1s ease;
}

/*
.img_foto_seis {
    display: inline-block;
    width: 33%;
    height: 300px;
   
    display: inline-block;
    text-align: center;
    background: url(imagenes/equipo_hospital_5.jpg);
    transition: all 1s ease;
}



.img_foto_cuatro:hover {
  
    background: url(imagenes/logo_dbv.png);
    background-repeat: no-repeat;
    background-position: center;
    
}

.img_foto_cinco:hover {
   
    background: url(imagenes/logo_municipio_de_tandil.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

.img_foto_seis:hover {
    
    background: url(imagenes/logo_sisp.png);
    background-repeat: no-repeat;
    background-position: center;
}  

*/

/*Biblioteca*/

.convenios__texto {
    font-family: $tipografia_texto;
    font-size: $tamaño_texto_convenio_1;
    margin:2% 0;
    padding: 0;
    transform:translate(-0px,-50px); 
    color: black;
    font-weight: 700;  
}

.convenios_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;
    @include size_img(80%,100%);
}

.convenios {
    padding: 2% 3%;
    text-align: center;
    margin:0;
}


.convenios:hover {
    opacity: 0.7;
    background-image: url("imagenes\equipo_6.jpeg");
    
}


.img__convenio {
    @include size_img(80%,100%);
    opacity: 0.8;
    margin: 0;
    padding: 0;
    
}





/* Comunidad */

.comunidad {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}




.row__textoCostado {
@extend .intro-main__contenido__texto ;
}

.row__comunidad__titulo {
    @extend .intro-main__contenido__texto--titulo ; 
}



/* VIDEO */


.video_youtube {
    @include size_img(200px,100%);
}




/*Media Queries para Desktop*/
@media (min-width: 576px){
    .video_youtube {
        @include size_img(600px,100%);
    }

    .convenios__texto {
        font-family: $tipografia_texto;
        font-size: $tamaño_texto_convenio;
        margin:2% 0;
    }

    .img_foto {
        width:50% ;
        height: 100%;
        float: left;
        margin-right: 20px;
    }
    
    .img_foto--right {
        float: right;
        margin-left: 20px;
        width: 50%;
        height: 100%;
    }

    .row--comunidad {
        margin: 30px auto;
        height: 400px;
    }
    
    .row__textoCostado {
       font-size: 15px;
       font-weight: 400;
       text-align: justify;
       margin-left: 0 auto;
       line-height: 1.5rem;
         
    }

    #contenedor_novedades_imagenes{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        width: 95%;
        margin:0 auto;
    }

    .card{
        width:20%;
        margin:0 0.5%;
    }

  

    .publicaciones_lista {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 10px 8%;
        font-size: 15px;
    }

    .publicaciones_links {
        margin:10px 40px;
    }
    
    .intro-main__contenido__texto--titulo {
        line-height: 1.6;
        font-family: $tipografia_subtitulos;
        font-size: $tamaño_subtitulos;
        color: $color_subtitulos;
        text-transform: uppercase;
        margin-top: 30px;
        font-weight: 700;
    }

    .titulo_general_mobile {
        display: none;
    }

    .titulo_general_mobile_dos {
        display: none;
    }

    .convenios_container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        overflow: hidden;
        @include size_img(80%,100%);
    }
    

}

/*Quienes Somos*/
/*listas*/

li {
    list-style: none;
    text-decoration: none;
}

.intro__main__lista__gral {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    list-style-type: none;
    padding-bottom: 50px;
}

 .intro__main__lista {
    display: inline-block;
    padding: 5px  10%;
 }   
            
.intro__main__lista__titulo {
    font-size: 17px;
    text-transform: uppercase;
    color:#df0024;
    text-decoration: underline;   
}

.intro__main__lista--items {
    list-style-type: none;
    line-height: 1.7;
    margin-top: 5px;
    justify-items: center;
    text-align: center;
    padding: 0;
}


        .intro__main__lista2 {
            display: inline-block;
            padding: 5px ;  
            text-align: center;
        }
