@import "reset";
@import "main";

/*Contenido Principal*/

#intro-main {
    background-color: #f5f7fa;
}

main {
    width:80%;
    margin:0 auto;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.container {
    width:95%;
    margin:0 auto;
    max-width: 1320px;
    overflow: hidden;
    margin-top: 10px;
}


.intro-main__contenido__general {
    position: relative;
    
  
}

.background_image {
    height: 400px;
    object-fit: cover;
    object-position: 10% 10%;
    width: 100%;
    opacity: 0.75;
}


/*
.row {
    margin: 0 auto;
}
 */

@import "header";
@import "footer";
@import "animaciones";









